* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #b5b4b479;
}

.nav img {
    cursor: pointer;
}

.main {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__login {
    margin-top: 50px;
}

.main__login button {
    border: 1px;
    padding: 15px 70px;
    background-color: #B370CD;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    letter-spacing: 2px;
}

.side__routes {
    display: flex;
    direction: rtl;
}

.side__menu {
    display: grid;
    gap: 100px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    min-width: 15vh;
    min-height: 100vh;
}

.side__list {
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.side__link {
    list-style: none;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    color: #B370CD;
    opacity: .8;
    
    gap: 10px;
    
    transition: .2s;
}

.side__link:hover {
    opacity: 1;
    font-weight: 500;
}

.side__link svg {
    font-size: 50px;
}

.side__link span {
    font-size: 30px;
}

.cards {
    width: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    width: 100%;
    height: 100vh;
    padding: 40px;
    overflow-y: auto;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

.card:hover {
    opacity: 1;
}

.card img {
    width: 100%;
}

.card span {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 900;
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Inter';
}

.section {
    width: 100%;
    direction: ltr;
}

.section__items {

}

.items {
    display: flex;
    overflow: auto;
}

.items__combo {
    display: grid;
    gap: 40px;
    width: 100%;
    height: 100vh;
    padding: 20px;

    border-right: 2px solid #7676764d;
    margin: 20px;
}

.items__combo h3 {
    font-size: 47px;
    font-weight: 700;
    color: #B370CD;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: sans-serif;
}

.items__combo-description {
    margin-bottom: 30px;
    border-bottom: 2px solid #7676764d;
}

.items__combo-description h2 {
    font-size: 47px;
    font-weight: 900;
    color: #B370CD;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.items__combo-description p {
    font-family: system-ui;
    font-size: 23px;
    font-weight: 400;

    margin-bottom: 25px;
    color: #767676;
}

.items__combo-description h4 {
    font-size: 23px;
    font-family: system-ui;
    font-weight: 400;

    margin-bottom: 25px;
    color: #767676;
}

.items__combo-description h3 {
    font-size: 23px;
    font-family: system-ui;
    font-weight: 700;
    color: #767676;
    text-decoration: none;
}

.items__combo-description img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 40px;
    cursor: pointer;
}

.items span {
    position: relative;
    margin: 5vh 0 0 0;
    padding: 5vh 5vh 0vh 5vh;
    box-shadow: 0px -10px 10px 1px rgba(0, 0, 0, .1);
    border: none;
    border-bottom: 1px solid #B5B4B4;
}

.items__single {
    display: grid;
    gap: 40px;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.items__single-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items__single-item h2 {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 900;
    color: #B370CD;
    font-family: sans-serif;
    margin-bottom: 20px
}

.items__single-item p {
    font-family: system-ui;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 35px;
    color: #767676;
}

.items__single-item h4 {
    font-size: 23px;
    font-family: system-ui;
    font-weight: 400;

    margin-bottom: 35px;
    color: #767676;
}

.items__single-item h3 {
    font-size: 23px;
    font-family: system-ui;
    font-weight: 700;
    color: #767676;
    text-decoration: none;
}

.items__single-description img {
    border-radius: 50%;
    cursor: pointer;
}

.hidden {
    display: none;
}

.section__item {
    display: flex;
    justify-content: center;
    direction: ltr;
    width: 100%;
}

.product__img {
    border-bottom: 20px solid #B370CD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.product__img img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.product__description {
    display: grid;
    gap: 10px;
    margin: 15px;
}

.product__description h2 {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 900;
    color: #B370CD;
    font-family: sans-serif;
    margin-bottom: 20px
}

.product__description p {
    font-family: system-ui;
    font-size: 23px;
    font-weight: 400;
    color: #767676;
}

.product__buy {
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
}

.product__buy_quantity {
    display: flex;
}

.product__buy_quantity-left {
    font-size: 30px;
    padding: 13px 50px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: #B370CD;
    border: none;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: sans-serif;
    color: #fff;
    font-weight: 900;
}

.product__buy span {
    font-size: 30px;
    padding: 12.5px 60px;
    background: #B370CD;
    border-bottom: 1px solid #B370CD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 900;
}

.product__buy_quantity-right {
    font-size: 30px;
    padding: 13px 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #B370CD;
    border: none;
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: sans-serif;
    color: #fff;
    font-weight: 900;
}

.product__buy_cart {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    color: #B370CD;
    border: 1px solid;
    border-radius: 30px;
    cursor: pointer;
    font-family: sans-serif;
}